@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0 min-h-screen bg-slate-100 text-slate-900 antialiased transition-colors duration-300 dark:bg-slate-900 dark:text-slate-100;
}

#root {
  @apply min-h-screen;
}
