@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply m-0 min-h-screen bg-zinc-950 text-zinc-100 antialiased;
}

#root {
  @apply min-h-screen;
}
